:root {
--red: #8b1e1e;
--tan: #f4efe6;
--dark: #2b2b2b;
}


* {
box-sizing: border-box;
margin: 0;
padding: 0;
}


body {
font-family: "Georgia", serif;
background-color: var(--tan);
color: var(--dark);
line-height: 1.6;
}


header {
background-color: var(--red);
color: white;
text-align: center;
padding: 2rem 1rem;
}


header a {
color: #ffe6cc;
text-decoration: none;
}


nav {
background-color: #a13a3a;
display: flex;
justify-content: center;
gap: 2rem;
padding: 0.75rem;
}


nav a {
color: white;
text-decoration: none;
font-weight: bold;
}


nav a:hover {
text-decoration: underline;
}


.container {
display: flex;
max-width: 1100px;
margin: 2rem auto;
gap: 2rem;
padding: 0 1rem;
}


.sidebar {
width: 260px;
background-color: #fff7ed;
padding: 1.5rem;
border-left: 6px solid var(--red);
}


.sidebar h2 {
margin-bottom: 1rem;
color: var(--red);
}

.sidebar ul {
list-style: square;
padding-left: 1.2rem;
}


main {
flex: 1;
}


section {
margin-bottom: 2.5rem;
}


section h2 {
color: var(--red);
border-bottom: 2px solid var(--red);
margin-bottom: 1rem;
}


h3 {
margin-top: 1.2rem;
}


.sub {
font-style: italic;
color: #555;
}


ul {
margin-left: 1.2rem;
margin-top: 0.5rem;
}


footer {
text-align: center;
padding: 1rem;
background-color: var(--red);
color: white;
margin-top: 2rem;
}